.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  width: 100%;
  /* padding: 10px 20px; */
}
.header_logo {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}
.header_center{
  display: flex;
  align-items: center;
  flex: 1;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 9999px;
 
}
.header_center > input {
  border: none;
  padding: 10px;
  outline: none;
  /* outline-width: 0;
  width: 250px; */
}
.header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
  gap: 15px;
  white-space: nowrap;
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
  padding-top: 5px;
}
.dropdown_content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 20px;
  padding: 20px 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown_content > span {
  font-size: 16px;
  color: black;
  cursor: pointer;
  padding: 10px 20px;
  display: block;
}
.dropdown_content > span {
  font-size: 20px;
  color: black;
  cursor: pointer;
  padding: 10px 25px;
  text-decoration: none;
  display: block;
}
.dropdown_content > span:hover {
  background-color: #ff385c;
  color: whitesmoke;
 
}
.dropdown:hover .dropdown_content {
  display: block;
} 
