.home_section {
  display: flex;
  padding: 30px;
  justify-content: center;
}



.home_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.home_cards > * {
  flex: 1 1 300px; 
  max-width: 350px;
}