.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login_container h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #222;
  font-weight: 600;
}

.login_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.login_form input {
  padding: 12px 14px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.2s ease;
}

.login_form input:focus {
  border-color: #ff385c;
}

.login_btn {
  background-color: #ff385c;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login_btn:hover {
  background-color: #e03150;
}

.login_footer {
  font-size: 0.9rem;
  color: #555;
  margin-top: 10px;
}

.signup_link {
  color: #ff385c;
  font-weight: 600;
  cursor: pointer;
}
.continue_btn {
  display: flex;
  height: 47px;
  align-items: center;
  text-align: center;
  background-color: white;
  color: black;
  padding: 12px 14px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
}
.continue_btn > span {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.error_box {
  background: #fdecea;
  color: #b00020;
  border: 1px solid #f5c2c7;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error_box button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #b00020;
}

